body {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 0;
}
.login-container {
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  width: fit-content;
}
.login-header img {
  max-width: 100%;
  height: auto;
}
.login-header h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.login-header p {
  margin-top: 5px;
  font-size: 14px;
}
@media (max-width: 576px) {
  .login-container {
    padding: 10px;
  }
  .login-header h2 {
    font-size: 24px;
  }
  .login-header p {
    font-size: 18px;
  }
}
